* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url("../images/tablebg.jpg");
    background-size: 100%;
}

.wrapper {
    display: grid;
    flex-direction: column;
    grid-template-columns: 10% 80% 10%;
    grid-gap: 1em
}

.board {
    display: grid;
    grid-column: 2;
    background-color: lightgrey;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 0px 1px 10px black;
    border-radius: 10px;
}

.title {
    display: grid;
    grid-column: 2;
    color: white;
    justify-content: center;
    margin-top: 0.3em;
}

.computer p {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0.5em;
}

.player {
    margin-top: 1em;
}

.player p {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0.5em;
}

.playAgain {
    display: flex;
    justify-content: center;
}

.playAgain button {
    margin-top: 1em;
    padding: 0.5em 1em;
    font-weight: bold;
    height: 3em;
    width: 20em;
    border-radius: 0.5em;
    background-color: #01261C;
    color: white;
    box-shadow: 0px 1px 2px black;
}

.playAgain button:hover {
    background-color: #014034;
}